<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <log4net>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="logfile.txt"/>
      <appendToFile value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="5"/>
      <maximumFileSize value="10MB"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline"/>
      </layout>
    </appender>
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="RollingFileAppender"/>
    </root>
    <logger>
      <!-- Level 2 -->
      <level/>
      <!-- Level 3 -->
      <appender-ref/>
      <!-- Level 3 -->
    </logger>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <add key="PhotoDirectory" value="C:\home\workspace\kaszka\photobooth_sessions"/>
    <add key="HardwareAcceleration" value="false"/>
    <!-- Set this value to false if you dont want your photo to be printed -->
    <add key="PrintPhoto" value="false"/>
    <add key="PhotoPaperUsage" value="0"/>
    <add key="PhotoInkUsage" value="0"/>
    
    <add key="LvHTresholdLow" value="32"/>
    <add key="LvHTresholdUp" value="80"/>
    <add key="LvSTresholdLow" value="100"/>
    <add key="LvSTresholdUp" value="227"/>
    <add key="LvVTresholdLow" value="15"/>
    <add key="LvVTresholdUp" value="250"/>
    <add key="PhHTresholdLow" value="32"/>
    <add key="PhHTresholdUp" value="80"/>
    <add key="PhSTresholdLow" value="100"/>
    <add key="PhSTresholdUp" value="227"/>
    <add key="PhVTresholdLow" value="15"/>
    <add key="PhVTresholdUp" value="250"/>
  </appSettings>  
</configuration>
